/* Gerneral CSS */
Body {
    text-align:center;
    color: green;
	background-color: black;
	font-family: fixedsys;
}

h1 {
    color: green;
    font-family: serif;
    font-size: 40pt;
}

#bottom {
    color:green;
	font-family: fixedsys;
	font-size: 10pt;
}

#Game_area {
    color: green;
	background-color: black;
	font-family: serif;
	font-size: 12pt;
	border-color: green;
}

#map_location {
    color: green;
	background-color: black;
	font-family: serif;
	font-size: 12pt;
	border-color: green;
}

#score_print {
    color: green;
	background-color: black;
	font-family: fixedsys;
	font-size: 12pt;
	border: none;
}
